<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content>
  <ion-button (click)="scanBarCode();">Scan BarCode</ion-button>
  <p>{{barCode}}</p>
</ion-content> 
<!-- <ion-content>
  <ion-button (click)="scanQRCode();">Scan QRCode</ion-button>
  <p>{{qrCode}}</p>

  <div id="close-scanner-button" text-center>
    <ion-button (click)="closeScanner()" color="warning">
        Close Scanner
    </ion-button>
</div>
</ion-content> -->
